* {
    text-decoration: none;
    font-family:Myriad Pro, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.structure {
    width: 1280px;
    margin: 0 auto;
}
a:visited {
    color: inherit;
}
.header {
    line-height: 180px;
    font-size: 80px;
    font-weight: 400;
}
.header span {
    color:  #000000;
}
.header a {
    color:  #4bcaff;
}
.top-menu {
    height: 70px;
    text-align: center;
    background-color: #35444f;
    box-sizing: border-box;
}
.top-menu li { 
    display: inline; 
}
.top-menu a {
    box-sizing: border-box;
    color: #fff;
    font-size: 24px;
    padding: 0 40px;
    line-height: 70px;
    font-weight: 400;
    display: inline-block;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
}
.top-menu a:hover {
    background-color: #222f3a;
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
}
.container {
    margin-top:50px;
    overflow: hidden;
}
.side-menu {
    display: inline-block;
    width: 345px;
    height: 400px;
    box-sizing: border-box;
    border: solid 1px black;
    float: left;
}
.side-menu a {
    display: inline-block;
    width: 100%;
    color:  #485863;
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    line-height: 80px;
    padding-left: 44px;
}
.side-menu a:hover {
    padding-left: 70px;
    background-color: lightgrey;
    border: none;
    box-sizing: border-box;
    color: black;
}
.content {
    width: 935px;
    float: left;
    padding-left: 35px;
    box-sizing: border-box;
}
.content p {
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
    padding: 0 20px;
}
.ramda-img {
    box-sizing: border-box;
    height: 530px;
    border: solid 1px black;
    text-align: center;
    line-height: 530px;
}
.ramda-img img {
    vertical-align: middle;
    transition: all 1s ease-out;
}
.ramda-img img:hover {
    transform: scale(1.15);
}
.footer {
    list-style-type: none;
    height: 90px;
    text-align: left;
    background-color: lightgrey;
    box-sizing: border-box;
    margin-top: 50px;
    overflow: hidden;
}
.footer li { 
    color: #0c1927;;
    font-size: 28px;
    display: inline; 
}
.footer a {
    line-height: 90px;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    padding-left:35px;
    box-sizing: border-box;
}
.footer a:hover {
    color: #3181a6;
    text-decoration: underline;
}
.footer span {
    font-size: 24px;
    margin-left: 170px;
}